In [1]:
#--------------------------------------
# PANDAS - Tutorial X1PAN08 2021/07/26        
#---------------------------------------
import pandas as pd

In [2]:
df = pd.read_csv('fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
#utilizando a funcao lambda na funcao pd.DataFrame.apply()
df['Height'].apply(lambda altura: round(altura, 2))
soma_lambda =  lambda num1, num2: num1 + num2
soma_lambda(10, 30)

40

In [5]:
#funcao de alta ordem
#Utilizando a função lambda na função filter
lista = [10,20,30,40,50]
lista_filtrada = list(filter(lambda numero: numero > 30, lista))
print(lista_filtrada )

[40, 50]

In [6]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('Degmar', 'Barbosa')

'Full name: Degmar Barbosa'

In [7]:
# dis() expose a readable version of the Python bytecode 
import dis
add = lambda x, y: x + y
type(add)
dis.dis(add)

  3           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BINARY_ADD
              6 RETURN_VALUE

In [8]:
import dis
def add(x, y): return x + y
type(add)
dis.dis(add)

  2           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BINARY_ADD
              6 RETURN_VALUE

In [12]:
 (lambda x:
... (x % 2 and 'odd' or 'even'))(4)

'even'

In [13]:
(lambda x, y, z: x + y + z)(1, 2, 3)

6

In [15]:
(lambda x, y, z=3: x + y + z)(1, 2)

6

In [16]:
(lambda x, y, z=3: x + y + z)(1, y=2)

(lambda *args: sum(args))(1,2,3)

6

In [17]:
(lambda **kwargs: sum(kwargs.values()))(one=1, two=2, three=3)

6

In [18]:
(lambda x, *, y=0, z=0: x + y + z)(1, y=2, z=3)

6