In [ ]:
        #---------------------------------------------------#
        #  Objetivo:Pandas head(),DataFrame(),Series()      #
        #           read_excel(),read_csv(),loc             #
        #---------------------------------------------------#

In [2]:
import pandas as pd
import numpy as np

In [3]:
        df = pd.DataFrame(np.random.randn(5, 4),
                          index='A B C D E'.split(),
                          columns='W X Y Z'.split())
        print(df)

          W         X         Y         Z
A  0.947695  0.386477 -1.417757  0.557214
B -0.326329 -1.180327 -0.881632 -0.593694
C -0.335670 -1.536871 -0.831724 -0.654762
D -0.205861  0.164595 -2.856735  0.453552
E -1.153282  0.053606 -1.953767 -0.781879

In [4]:
      print(df.keys())

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [5]:
      print(df[['W', 'Z']])

          W         Z
A  0.947695  0.557214
B -0.326329 -0.593694
C -0.335670 -0.654762
D -0.205861  0.453552
E -1.153282 -0.781879

In [6]:
#DataFrame Create Column
df['novaCol'] = df['W'] +  0

In [7]:
    print(df)

          W         X         Y         Z   novaCol
A  0.947695  0.386477 -1.417757  0.557214  0.947695
B -0.326329 -1.180327 -0.881632 -0.593694 -0.326329
C -0.335670 -1.536871 -0.831724 -0.654762 -0.335670
D -0.205861  0.164595 -2.856735  0.453552 -0.205861
E -1.153282  0.053606 -1.953767 -0.781879 -1.153282

In [8]:
#Dataframe drop Column
df.drop('novaCol', axis=1, inplace=True)

In [9]:
df

          W         X         Y         Z
A  0.947695  0.386477 -1.417757  0.557214
B -0.326329 -1.180327 -0.881632 -0.593694
C -0.335670 -1.536871 -0.831724 -0.654762
D -0.205861  0.164595 -2.856735  0.453552
E -1.153282  0.053606 -1.953767 -0.781879

In [10]:
df = pd.read_csv('bandas.txt', delimiter='\t', header=0)

In [11]:
    print(df)

      musica,artista,ano de lancamento,nome completo
0  Radioactive,Imagine Dragons,2012,Radioactive b...
1  Good Vibrations,The Beach Boys,1966,Good Vibra...
2  A Day In The Life,The Beatles,1967,A Day In Th...
3  Message In A Bottle,The Police,1979,Message In...
4  Seven Nation Army,The White Stripes,2003,Seven...
5  I Wanna Be Sedated,The Ramones,1978,I Wanna Be...
6  Lonely Boy,The Black Keys,2011,Lonely Boy by T...
7  Enter Sandman,Metallica,1991,Enter Sandman by ...
8  Boulevard Of Broken Dreams,Green Day,2004,Boul...

In [12]:

sms = pd.read_csv('bank.txt', encoding='UTF-8', sep=';',usecols = ['age', 'job'])

In [13]:
print(sms)

      age            job
0      30     unemployed
1      33       services
2      35     management
3      30     management
4      59    blue-collar
...   ...            ...
4516   33       services
4517   57  self-employed
4518   57     technician
4519   28    blue-collar
4520   44   entrepreneur

[4521 rows x 2 columns]

In [14]:
print(sms.keys())

Index(['age', 'job'], dtype='object')

In [15]:
 print(sms.all)

<bound method NDFrame._add_numeric_operations.<locals>.all of       age            job
0      30     unemployed
1      33       services
2      35     management
3      30     management
4      59    blue-collar
...   ...            ...
4516   33       services
4517   57  self-employed
4518   57     technician
4519   28    blue-collar
4520   44   entrepreneur

[4521 rows x 2 columns]>

In [16]:
 print(sms.dtypes)

age     int64
job    object
dtype: object

In [17]:
sms.describe

<bound method NDFrame.describe of       age            job
0      30     unemployed
1      33       services
2      35     management
3      30     management
4      59    blue-collar
...   ...            ...
4516   33       services
4517   57  self-employed
4518   57     technician
4519   28    blue-collar
4520   44   entrepreneur

[4521 rows x 2 columns]>

In [18]:
sms.columns

Index(['age', 'job'], dtype='object')

In [19]:
sms.tail()

      age            job
4516   33       services
4517   57  self-employed
4518   57     technician
4519   28    blue-collar
4520   44   entrepreneur