In [3]:
# pd.read_csv to DataFrame - X1PAN06 - 2021/07/09
import pandas as pd 
df = pd.read_csv('bank.txt', encoding='UTF-8', sep=';')

In [4]:
 print(df.head(2))

   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no

In [5]:
print(df.keys())

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [6]:
# DataFrame loc = select * from row, col

print(df.loc[0,:])  # print todos os campos da (row)-0

age                  30
job          unemployed
marital         married
education       primary
default              no
balance            1787
housing              no
loan                 no
contact        cellular
day                  19
month               oct
duration             79
campaign              1
pdays                -1
previous              0
poutcome        unknown
y                    no
Name: 0, dtype: object

In [7]:
 print(df.loc[1,:])                          # print todos os campos da (row)-1

age                 33
job           services
marital        married
education    secondary
default             no
balance           4789
housing            yes
loan               yes
contact       cellular
day                 11
month              may
duration           220
campaign             1
pdays              339
previous             4
poutcome       failure
y                   no
Name: 1, dtype: object

In [8]:
 print(df.loc[[1,2,4],:])                    # print todos os campos da (row)-1,2,4   
 print(df.loc[0:7,:])                        # print todos os campos da (row)0..a.7
 print(df.loc[:, 'job'])                     # print todas as (rows) da column
 print(df.loc[:, 'age'])                     # print todas as (rows) da column age
 print(df.loc[:, ['age', 'job']])            # print todas as (rows) das columns
 print(df.loc[:, 'age':'default'])           #- print todas as (rows) no range das columns
 print(df.loc[df.job=='technician', :])      # print todas as (rows) where job=='technician'
 print(df.loc[df.job=='technician','age'])   # print todas as (rows) da column "age" job tech
 print(df.iloc[:, [0, 4]])                   # print todas as (rows) da column 0,4
 print(df.iloc[:,  0: 4])                    # print todas as (rows) da column 0..a..4

   age          job  marital  education default  balance housing loan  \
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
4   unknown    5   may       226         1     -1         0  unknown  no
   age            job  marital  education default  balance housing loan  \
0   30     unemployed  married    primary      no     1787      no   no
1   33       services  married  secondary      no     4789     yes  yes
2   35     management   single   tertiary      no     1350     yes   no
3   30     management  married   tertiary      no     1476     yes  yes
4   59    blue-collar  married  secondary      no        0     yes   no
5   35     management   single   tertiary      no      747      no   no
6   36  self-employed  married   tertiary      no      307     yes   no
7   39     technician  married  secondary      no      147     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no
5  cellular   23   feb       141         2    176         3  failure  no
6  cellular   14   may       341         1    330         2    other  no
7  cellular    6   may       151         2     -1         0  unknown  no
0          unemployed
1            services
2          management
3          management
4         blue-collar
            ...
4516         services
4517    self-employed
4518       technician
4519      blue-collar
4520     entrepreneur
Name: job, Length: 4521, dtype: object
0       30
1       33
2       35
3       30
4       59
        ..
4516    33
4517    57
4518    57
4519    28
4520    44
Name: age, Length: 4521, dtype: int64
      age            job
0      30     unemployed
1      33       services
2      35     management
3      30     management
4      59    blue-collar
...   ...            ...
4516   33       services
4517   57  self-employed
4518   57     technician
4519   28    blue-collar
4520   44   entrepreneur

[4521 rows x 2 columns]
      age            job  marital  education default
0      30     unemployed  married    primary      no
1      33       services  married  secondary      no
2      35     management   single   tertiary      no
3      30     management  married   tertiary      no
4      59    blue-collar  married  secondary      no
...   ...            ...      ...        ...     ...
4516   33       services  married  secondary      no
4517   57  self-employed  married   tertiary     yes
4518   57     technician  married  secondary      no
4519   28    blue-collar  married  secondary      no
4520   44   entrepreneur   single   tertiary      no

[4521 rows x 5 columns]
      age         job   marital  education default  balance housing loan  \
7      39  technician   married  secondary      no      147     yes   no
12     36  technician   married   tertiary      no     1109      no   no
16     56  technician   married  secondary      no     4073      no   no
31     31  technician   married  secondary      no      171      no   no
34     49  technician   married   tertiary      no     1235      no   no
...   ...         ...       ...        ...     ...      ...     ...  ...
4493   28  technician    single   tertiary      no        0     yes   no
4494   26  technician    single  secondary      no      668     yes   no
4509   51  technician   married   tertiary      no     2506      no   no
4510   36  technician  divorced  secondary      no      566     yes   no
4518   57  technician   married  secondary      no      295      no   no

       contact  day month  duration  campaign  pdays  previous poutcome    y
7     cellular    6   may       151         2     -1         0  unknown   no
12    cellular   13   aug       328         2     -1         0  unknown   no
16    cellular   27   aug       239         5     -1         0  unknown   no
31    cellular   27   aug        81         3     -1         0  unknown   no
34    cellular   13   aug       354         3     -1         0  unknown  yes
...        ...  ...   ...       ...       ...    ...       ...      ...  ...
4493   unknown    4   jun       205         6     -1         0  unknown   no
4494   unknown   28   may       576         3     -1         0  unknown  yes
4509  cellular   30   nov       210         3     -1         0  unknown   no
4510   unknown   20   may       129         2     -1         0  unknown   no
4518  cellular   19   aug       151        11     -1         0  unknown   no

[768 rows x 17 columns]
7       39
12      36
16      56
31      31
34      49
        ..
4493    28
4494    26
4509    51
4510    36
4518    57
Name: age, Length: 768, dtype: int64
      age default
0      30      no
1      33      no
2      35      no
3      30      no
4      59      no
...   ...     ...
4516   33      no
4517   57     yes
4518   57      no
4519   28      no
4520   44      no

[4521 rows x 2 columns]
      age            job  marital  education
0      30     unemployed  married    primary
1      33       services  married  secondary
2      35     management   single   tertiary
3      30     management  married   tertiary
4      59    blue-collar  married  secondary
...   ...            ...      ...        ...
4516   33       services  married  secondary
4517   57  self-employed  married   tertiary
4518   57     technician  married  secondary
4519   28    blue-collar  married  secondary
4520   44   entrepreneur   single   tertiary

[4521 rows x 4 columns]

In [9]:
df.isna().head()
df.notna().head()
print(df.isna().age.head(1000))
print(df.notna().age.head(1000))
print(df.isna().head())
print(df.notna().head())
df.isnull().sum()
df.max()
df.min()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: age, Length: 1000, dtype: bool
0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Name: age, Length: 1000, dtype: bool
     age    job  marital  education  default  balance  housing   loan  \
0  False  False    False      False    False    False    False  False
1  False  False    False      False    False    False    False  False
2  False  False    False      False    False    False    False  False
3  False  False    False      False    False    False    False  False
4  False  False    False      False    False    False    False  False

   contact    day  month  duration  campaign  pdays  previous  poutcome      y
0    False  False  False     False     False  False     False     False  False
1    False  False  False     False     False  False     False     False  False
2    False  False  False     False     False  False     False     False  False
3    False  False  False     False     False  False     False     False  False
4    False  False  False     False     False  False     False     False  False
    age   job  marital  education  default  balance  housing  loan  contact  \
0  True  True     True       True     True     True     True  True     True
1  True  True     True       True     True     True     True  True     True
2  True  True     True       True     True     True     True  True     True
3  True  True     True       True     True     True     True  True     True
4  True  True     True       True     True     True     True  True     True

    day  month  duration  campaign  pdays  previous  poutcome     y
0  True   True      True      True   True      True      True  True
1  True   True      True      True   True      True      True  True
2  True   True      True      True   True      True      True  True
3  True   True      True      True   True      True      True  True
4  True   True      True      True   True      True      True  True

age                19
job            admin.
marital      divorced
education     primary
default            no
balance         -3313
housing            no
loan               no
contact      cellular
day                 1
month             apr
duration            4
campaign            1
pdays              -1
previous            0
poutcome      failure
y                  no
dtype: object

In [11]:
df.groupby("age")["balance"].sum()            # groupby - sum() 
df.sort_values(by = "balance").head(10)       # sort_values
steps = pd.Series([4216,3867,7934,4180,5144]) # Series
steps

0    4216
1    3867
2    7934
3    4180
4    5144
dtype: int64

In [14]:
type(steps)

pandas.core.series.Series

In [15]:
steps.values    # step.values

array([4216, 3867, 7934, 4180, 5144], dtype=int64)

In [16]:
steps.index     # step.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
steps = pd.Series(data=[4216,3867,7934,4180,5144], index=['seg','ter','qua','qui','sex'])
steps

seg    4216
ter    3867
qua    7934
qui    4180
sex    5144
dtype: int64

In [18]:
steps.max()
steps.min()

3867

In [21]:
steps.mean()

5068.2

In [22]:
steps.sum()

25341

In [23]:
steps.describe()

count       5.000000
mean     5068.200000
std      1671.569681
min      3867.000000
25%      4180.000000
50%      4216.000000
75%      5144.000000
max      7934.000000
dtype: float64

In [24]:
steps.shape

(5,)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB