In [2]:
#--------------------------------------
# PANDAS - Tutorial X1PAN09 2021/07/31     
#---------------------------------------
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('M:\\XJUPYTER\\Fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [6]:
df['Width'].apply(np.square)

0      16.160400
1      18.538191
2      22.053355
3      19.851480
4      26.357956
         ...
154     1.942121
155     1.610361
156     1.577034
157     4.273316
158     3.531393
Name: Width, Length: 159, dtype: float64

In [7]:
def soma(*args):
    return sum(args)

In [8]:
df['Width'].apply(soma, args=(1,2,3))

0      10.0200
1      10.3056
2      10.6961
3      10.4555
4      11.1340
        ...
154     7.3936
155     7.2690
156     7.2558
157     8.0672
158     7.8792
Name: Width, Length: 159, dtype: float64

In [21]:
df1 = pd.DataFrame([[1,2,[1,2,3]], [3,4, [4,5,6]], [5,6, [7,8,9]]], columns=['col1', 'col2','col3'])
df1

   col1  col2       col3
0     1     2  [1, 2, 3]
1     3     4  [4, 5, 6]
2     5     6  [7, 8, 9]

In [23]:
df1['col3'].apply(lambda item: [x**2 if x == 2 else x for x in item])

0    [1, 4, 3]
1    [4, 5, 6]
2    [7, 8, 9]
Name: col3, dtype: object

In [24]:
df1['col3'].apply(lambda item: [x**3 if x == 5 else x for x in item])

0      [1, 2, 3]
1    [4, 125, 6]
2      [7, 8, 9]
Name: col3, dtype: object

In [25]:
df1['col3'].apply(lambda item: [x**2 if x == 9 else x for x in item])

0     [1, 2, 3]
1     [4, 5, 6]
2    [7, 8, 81]
Name: col3, dtype: object

In [27]:
df1.apply(lambda x: x.col3, axis=1, result_type='expand')

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [32]:
df1.apply(lambda x: 'col1-menor' if x.col1 < x.col2 else 'col2',axis=1, result_type='broadcast')

         col1        col2        col3
0  col1-menor  col1-menor  col1-menor
1  col1-menor  col1-menor  col1-menor
2  col1-menor  col1-menor  col1-menor